div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

button {
  outline: none;
  border: solid 2px white;
  -webkit-box-shadow: 5px 5px 2px #000;
  box-shadow: 5px 5px 2px #000;
  -webkit-transition: ease-in .4s all;
  transition: ease-in .4s all;
}

button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

button:active {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.app-wrapper {
  height: 100%;
  margin: auto;
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* ****** GRADIENT BACKGROUND ****** */
.app-wrapper {
  /* Firefox 4+ */
  background: -webkit-linear-gradient(bottom, #707070 0%, #616161 38%, #181438 65%);
  /* Opera */
  background: -moz-linear-gradient(bottom, #707070 0%, #616161 38%, #181438 65%);
  /* IE 10+ */
  background: -o-linear-gradient(bottom, #707070 0%, #616161 38%, #181438 65%);
  /* W3C */
  background: -ms-linear-gradient(bottom, #707070 0%, #616161 38%, #181438 65%);
  /* Chrome 10+,Safari */
  background: -linear-gradient(bottom, #707070 0%, #616161 38%, #181438 65%);
}

.header {
  width: 100%;
  text-align: center;
}

.header .title-wrap {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vmin;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2vmin auto 1vmin auto;
  padding: 0;
}

.header .title-wrap .title {
  font-size: 10vmin;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-weight: bold;
  color: #ff0;
  text-shadow: 0 0 20px #ff0;
}

.header .title-wrap .js {
  background: cornflowerblue;
  border-radius: 10px;
  color: black;
  font-size: 7vmin;
  font-weight: bold;
  padding: 0 1vmin;
  margin: 0 1vmin 0 1.5vmin;
  text-shadow: none;
  -webkit-box-shadow: 0 0 20px #fff;
  box-shadow: 0 0 20px #fff;
}

.header .subtitle {
  color: #777;
  font-size: 2vmin;
  font-family: 'avenir', 'Verdana', 'Segoe', sans-serif;
  font-style: italic;
  margin: 0 auto;
}

.status {
  color: #0a0;
  display: block;
  font-family: "impact", "arial black", "Arial Rounded MT Bold", "Helvetica Rounded", sans-serif, sans-serif;
  font-size: 4vmin;
  margin: 2vmin auto;
  text-align: center;
}

.app {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vmin;
  width: 100vmin;
  max-height: 900px;
  max-width: 900px;
}

.simon {
  display: block;
  background: #000;
  border: solid 3vmin black;
  border-radius: 100%;
  margin: 0 5vmin;
  max-height: 850px;
  min-height: 400px;
  max-width: 850px;
  min-width: 400px;
  width: 100vmin;
  height: 100vmin;
  overflow: hidden;
}

.panel {
  display: block;
  width: 50%;
}

.red {
  border-right: solid 1.5vmin black;
  border-bottom: solid 1.5vmin black;
  background: #f00;
  opacity: .5;
}

.error {
  background: #f00 !important;
  opacity: .5;
}

.green {
  border-bottom: solid 1.5vmin black;
  border-left: solid 1.5vmin black;
  background: #00b400;
  opacity: .4;
}

.blue {
  border-left: solid 1.5vmin black;
  border-top: solid 1.5vmin black;
  background: #5d81ec;
  opacity: .5;
}

.yellow {
  border-top: solid 1.5vmin black;
  border-right: solid 1.5vmin black;
  background: #ffff00;
  opacity: .5;
}

.active {
  opacity: 1 !important;
}

.panel-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
}

.top {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.bottom {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.center {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: #a5acaf;
  border: solid 3vmin black;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-height: calc(900px/2.3);
  min-height: calc(400px/2.3);
  max-width: calc(900px/2.3);
  min-width: calc(400px/2.3);
  overflow: hidden;
  position: absolute;
  height: 45vmin;
  width: 45vmin;
  z-index: 100;
}

.center .unit-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 33%;
  max-height: calc((900px/2.3)/3);
  min-height: calc((400px/2.3)/3);
  max-width: calc(900px/2.3);
  min-width: calc(400px/2.3);
}

.center .unit-label .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'aldrich';
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: inherit;
}

.center .unit-label .top {
  font-size: 4vmin;
  margin: 0 auto 1vmin auto;
}

.center .unit-label .bottom {
  font-size: 7vmin;
  margin: 0 auto;
}

.center .interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-height: calc(900px/2.3/3);
  min-height: calc(400px/2.3/3);
  max-width: calc(900px/2.3);
  min-width: calc(400px/2.3);
  height: 33%;
  width: 100%;
  padding: 0 2vmin;
}

.center .interface .ui-node {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
}

.center .interface .ui-node .ui-label {
  font-family: 'helvetica', 'avenir', sans-serif;
  font-weight: 900;
  font-size: 2vmin;
  margin: 0 auto;
  padding: 0;
}

.center .interface .position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  padding: 0;
}

.center .interface .position .digits {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background: #000;
  border: inset 3px #bbb;
  border-radius: 15%;
  color: #000;
  margin: 0;
  padding: 0 5px 5px 5px;
  font-family: monospace;
  font-size: 5vmin;
}

.center .interface .position .on {
  color: red;
}

.center .interface .start-reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  margin: auto;
}

.center .interface .start-reset button {
  background: orangered;
  display: block;
  border-radius: 100%;
  margin: 0 auto 1vmin auto;
  padding: 0;
  height: 10vmin;
  width: 10vmin;
  max-height: calc((900px/2.3)/7);
  min-height: calc((400px/2.3)/4);
  max-width: calc((900px/2.3)/7);
  min-width: calc((400px/2.3)/4);
}

.center .interface .strict {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  margin: auto;
}

.center .interface .strict button {
  background: darkslategray;
  display: block;
  border-radius: 100%;
  margin: 0 auto 1vmin auto;
  padding: 0;
  height: 10vmin;
  width: 10vmin;
  max-height: calc((900px/2.3)/7);
  min-height: calc((400px/2.3)/4);
  max-width: calc((900px/2.3)/7);
  min-width: calc((400px/2.3)/4);
}

.center .power-switch {
  background: #000;
  border: solid white 3px;
  border-radius: 10vmin;
  height: 5vmin;
  margin: 2vmin;
  width: 55%;
}

.center .power-switch .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.center .power-switch .switch .knob {
  border-radius: 100%;
  display: block;
  height: 6vmin;
  margin: -1vmin;
  padding: 0;
  width: 6vmin;
  max-width: 85px;
  max-height: 85px;
  background: black;
  color: white;
}

.center .power-switch .on {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.center .power-switch .on .knob {
  background: white;
  border-color: black;
  color: black;
}
